.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  height: 80px;
  width: 80px;
}

.name {
  color: #12022f;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
}

.designation {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 12px;
}
